interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=publication_year%3A2020%2Cprimary_location.source.issn%3A1752-0894%2Craw_author_name.search%3A%22Lenard%22&api_key=8Rd4D7AsYCGSTnYy6Piyll&per_page=5&mailto=sebastien.lenard%40gmail.com
  response:
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 139, "page": 1, "per_page":
        5, "groups_count": null, "cost_usd": 0.001}, "results": [{"id": "https://openalex.org/W3032085902",
        "doi": "https://doi.org/10.1038/s41561-020-0585-2", "title": "Steady erosion
        rates in the Himalayas through late Cenozoic climatic changes", "display_name":
        "Steady erosion rates in the Himalayas through late Cenozoic climatic changes",
        "relevance_score": 87.403206, "publication_year": 2020, "publication_date":
        "2020-06-01", "ids": {"openalex": "https://openalex.org/W3032085902", "doi":
        "https://doi.org/10.1038/s41561-020-0585-2", "mag": "3032085902"}, "language":
        "en", "primary_location": {"id": "doi:10.1038/s41561-020-0585-2", "is_oa":
        false, "landing_page_url": "https://doi.org/10.1038/s41561-020-0585-2", "pdf_url":
        null, "source": {"id": "https://openalex.org/S48977010", "display_name": "Nature
        Geoscience", "issn_l": "1752-0894", "issn": ["1752-0894", "1752-0908"], "is_oa":
        false, "is_in_doaj": false, "is_core": true, "host_organization": "https://openalex.org/P4310319908",
        "host_organization_name": "Nature Portfolio", "host_organization_lineage":
        ["https://openalex.org/P4310319908", "https://openalex.org/P4310319965"],
        "host_organization_lineage_names": ["Nature Portfolio", "Springer Nature"],
        "type": "journal"}, "license": null, "license_id": null, "version": "publishedVersion",
        "is_accepted": true, "is_published": true, "raw_source_name": "Nature Geoscience",
        "raw_type": "journal-article"}, "type": "article", "indexed_in": ["crossref"],
        "open_access": {"is_oa": true, "oa_status": "green", "oa_url": "https://hal.science/hal-03096681",
        "any_repository_has_fulltext": true}, "authorships": [{"author_position":
        "first", "author": {"id": "https://openalex.org/A5086548111", "display_name":
        "S.J.P. Lenard", "orcid": "https://orcid.org/0000-0003-3358-7197"}, "institutions":
        [{"id": "https://openalex.org/I1294671590", "display_name": "Centre National
        de la Recherche Scientifique", "ror": "https://ror.org/02feahw73", "country_code":
        "FR", "type": "government", "lineage": ["https://openalex.org/I1294671590"]},
        {"id": "https://openalex.org/I4210102569", "display_name": "Centre de Recherches
        P\u00e9trographiques et G\u00e9ochimiques", "ror": "https://ror.org/011nqat45",
        "country_code": "FR", "type": "facility", "lineage": ["https://openalex.org/I1294671590",
        "https://openalex.org/I1294671590", "https://openalex.org/I1294671590", "https://openalex.org/I4210102569",
        "https://openalex.org/I4210148025", "https://openalex.org/I4387156182", "https://openalex.org/I90183372",
        "https://openalex.org/I90183372"]}, {"id": "https://openalex.org/I90183372",
        "display_name": "Universit\u00e9 de Lorraine", "ror": "https://ror.org/04vfs2w97",
        "country_code": "FR", "type": "education", "lineage": ["https://openalex.org/I90183372"]}],
        "countries": ["FR"], "is_corresponding": true, "raw_author_name": "Sebastien
        J. P. Lenard", "raw_affiliation_strings": ["Universit\u00e9 de Lorraine, CNRS,
        CRPG, Nancy, France", "CRPG - Centre de Recherches P\u00e9trographiques et
        G\u00e9ochimiques (CNRS / Universit\u00e9 de Lorraine, 15 rue Notre-Dame des
        Pauvres, 54500 Vandoeuvre-les-Nancy - France)"], "raw_orcid": "https://orcid.org/0000-0003-3358-7197",
        "affiliations": [{"raw_affiliation_string": "Universit\u00e9 de Lorraine,
        CNRS, CRPG, Nancy, France", "institution_ids": ["https://openalex.org/I90183372",
        "https://openalex.org/I1294671590", "https://openalex.org/I4210102569"]},
        {"raw_affiliation_string": "CRPG - Centre de Recherches P\u00e9trographiques
        et G\u00e9ochimiques (CNRS / Universit\u00e9 de Lorraine, 15 rue Notre-Dame
        des Pauvres, 54500 Vandoeuvre-les-Nancy - France)", "institution_ids": ["https://openalex.org/I4210102569",
        "https://openalex.org/I90183372", "https://openalex.org/I1294671590"]}]},
        {"autho[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.openalex.org/works?filter=publication_year%3A2014%2Cprimary_location.source.issn%3A2213-3054%2Craw_author_name.search%3A%22Guns%22%2Craw_author_name.search%3A%22Vanacker%22&api_key=8Rd4D7AsYCGSTnYy6Piyll&per_page=1&mailto=sebastien.lenard%40gmail.com
  response:
    body:
      string: '{"meta": {"count": 1, "db_response_time_ms": 102, "page": 1, "per_page":
        1, "groups_count": null, "cost_usd": 0.001}, "results": [[...]
