WORK_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister"  # Directory path to work files
OUTPUT_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister" # Directory path to output files
TEST_OUTPUT_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister-test" # Directory path to test output files
CROSSREF_API_DELAY=0.5
CROSSREF_API_EMAIL=roger.dupont@gmail.com # email for API calls
CROSSREF_API_JOURNALS_URL="https://api.crossref.org/journals" # url for journal API calls
CROSSREF_API_WORKS_URL="https://api.crossref.org/works" # url for article/reference API calls
CROSSREF_API_MAX_RESULTS=3 # max number of references retrieved per API call
CONTEXT_KEYWORDS="geosciences hydrology" # field of research for API call
