# -------------------------------------------- #
# VARIABLES TO REPLACE BY USER'S CONFIGURATION #
# -------------------------------------------- #

# --- User's local log and cache directories ---
# Optional: Override the root app directory entirely
# APP_BASE_DIR_PATH="/custom/absolute/path" 
# Optional: Override the application subfolder name
APP_NAME="citecraft" 
# Directory path to data files used as repositories
LOCAL_REPO_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister"
# Log directory path, loaded by logging_config.py (not config.py)
LOG_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister"

# --- User's local output directory ---
# Directory path to output files
OUTPUT_DIR_PATH="C:\Users\Blabla\Documents\Tmp_data\manuscript-reference-lister"

# --- User's API Polite Pool email ---
USER_EMAIL=cana.da@gmailo.com

# --- User's OpenAlex API Key ---
# API key to request at https://openalex.org/settings/api-key
OPENALEX_API_KEY=MY_KEY


# -------------------------------------------- #
# OTHER VARIABLES                              #
# -------------------------------------------- #

# --- Default API configuration ---
DEFAULT_API_DELAY=0.5
DEFAULT_API_TIMEOUT=20
DEFAULT_API_MAX_RETRY=10
DEFAULT_API_URL_MAX_CHARACTER_LENGTH=2048

# --- Crossref Rest API ---
# url for journal API calls
CROSSREF_API_JOURNALS_URL="https://api.crossref.org/journals"
# url for journal API calls for a specific ISSN, e.g. 1234-5678 (issn: object_name placeholder)
CROSSREF_API_JOURNALS_ISSN_URL="https://api.crossref.org/journals/{object_name}/works"
# url to check reference style validity
CROSSREF_API_STYLES_URL="https://api.crossref.org/styles"
# url for article/reference API calls
CROSSREF_API_WORKS_URL="https://api.crossref.org/works"
CROSSREF_API_WORKS_GET_LIMIT=20 # max number of references retrieved per API call

CROSSREF_API_DELAY=0.5
CROSSREF_API_TIMEOUT=20
CROSSREF_API_MAX_RETRY=10

# --- DOI Content Negotiation Service ---
# Url of the DOI Content Negotiation Service (doi: object_name placeholder)
DOI_API_URL="https://doi.org/{object_name}"

# --- OpenAlex rest api ---
# url for article/reference API calls
OPENALEX_API_WORKS_URL="https://api.openalex.org/works"
OPENALEX_API_WORKS_GET_LIMIT=100 # max number of references retrieved per API call

OPENALEX_API_URL_MAX_CHARACTER_LENGTH=3800 # Officially 4 kb
OPENALEX_API_URL_MAX_CHARACTER_LENGTH_FOR_ISSNS_FILTER=2800
OPENALEX_API_MAX_PIPED_FILTERS=100

# --- Style remote repository ---
# Csl metadata file specific to an identified parent style name/code, e.g. apa,
# copernicus-publications (style: object_name placeholder)
STYLE_REPO_URL="https://raw.githubusercontent.com/citation-style-language/styles/master/{object_name}.csl"
# Csl metadata file specific to an identified child style name/code, e.g.
# journal-of-geophysical-research-solid-earth (style: object_name placeholder)
CHILD_STYLE_REPO_URL="https://raw.githubusercontent.com/citation-style-language/styles/master/dependent/{object_name}.csl"
# Json file listing journal titles and their official style name/codes.
ALL_STYLES_REPO_URL="https://www.zotero.org/styles-files/styles.json"
# CSL XML style namespaces
CSL_XML_NAMESPACES='{"csl_legacy": "http://purl.org/net/xbiblio/csl", "csl_standard": "http://citationstyles.org/ns/"}'

# --- Values for schemas ---
WORK_CSL_SCHEMA_TYPES=["article", "article-journal", "article-magazine", "article-newspaper", "bill", "book", "broadcast", "chapter", "classic", "collection", "dataset", "document", "entry", "entry-dictionary", "entry-encyclopedia", "event", "figure", "graphic", "hearing", "interview", "journal-article", "legal_case", "legislation", "manuscript", "map", "motion_picture", "musical_score", "pamphlet", "paper-conference", "patent", "performance", "periodical", "personal_communication", "post", "post-weblog", "regulation", "report", "review", "review-book", "song", "speech", "standard", "thesis", "treaty", "webpage"]

# --- Blacklists and cleaners ---
PARSER_BLACKLIST = ["Fig", "Figs", "Figure", "Figures", "Tab", "Table", "Eq", "Plate", "Section", "See", "e.g.", "i.e.", "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
WORK_CROSSREF_SCHEMA_BLACKLIST_FIELDS=["URL", "assertion", "content-domain", "is-referenced-by-count", "license", "link", "prefix", "reference", "reference-count", "references-count", "score", "update-policy"]
AUTHOR_CROSSREF_SCHEMA_BLACKLIST_FIELDS=["ORCID", "affiliation", "role"]
WORK_OPENALEX_SCHEMA_BLACKLIST_FIELDS=["indexed_in", "open_access", "institutions", "countries_distinct_count", "institutions_distinct_count", "corresponding_author_ids", "corresponding_institution_ids", "apc_list", "apc_paid", "fwci", "has_fulltext", "cited_by_count", "citation_normalized_percentile", "cited_by_percentile_year", "primary_topic", "topics", "keywords", "concepts", "mesh", "locations_count", "best_oa_location", "locations", "sustainable_development_goals", "awards", "funders", "has_content", "content_urls", "referenced_works_count", "referenced_works", "related_works", "counts_by_year", "updated_date", "created_date"]
AUTHOR_OPENALEX_SCHEMA_BLACKLIST_FIELDS=["author", "institutions", "countries", "is_corresponding", "raw_affiliation_strings", "affiliations"]

PRESERVED_HTML_TAGS=["sup", "sub"]
DISCARDED_HTML_TAGS=["i", "b", "strong", "u", "small"]

# --- Others ---
# Year range of cited published work
MIN_PUBLICATION_YEAR=1600
MAX_PUBLICATION_YEAR=2099
MAX_COUNT_OF_AUTHORS_IN_CITATION=2

CONTEXT_KEYWORDS="geosciences hydrology" # field of research for API call

# Days after which journal metadata expire and need to be updated from remote repo (Crossref).
JOURNAL_UPDATE_DAYS=30
# Max number of journals whose metadata can be updated in a row from remote repo (Crossref).
JOURNAL_UPDATE_LIMIT=100

DEFAULT_REFERENCE_STYLE=apa # Default reference style for output

LOGGING_LEVEL_DEBUG=2
DEFAULT_LOGGING_FREQUENCY_FOR_BATCH_UPDATES=10.0 # seconds