interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?query=Lenard+et+al.+erosion&rows=5&filter=from-pub-date%3A2020%2Cuntil-pub-date%3A2020%2Cissn%3A1752-0894&mailto=sebastien.lenard%40gmail.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":3,"items":[{"indexed":{"date-parts":[[2026,3,31]],"date-time":"2026-03-31T07:22:35Z","timestamp":1774941755128,"version":"3.50.1"},"reference-count":85,"publisher":"Springer
        Science and Business Media LLC","issue":"6","license":[{"start":{"date-parts":[[2020,6,1]],"date-time":"2020-06-01T00:00:00Z","timestamp":1590969600000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.springer.com\/tdm"},{"start":{"date-parts":[[2020,6,1]],"date-time":"2020-06-01T00:00:00Z","timestamp":1590969600000},"content-version":"vor","delay-in-days":0,"URL":"https:\/\/www.springer.com\/tdm"}],"content-domain":{"domain":["link.springer.com"],"crossmark-restriction":false},"short-container-title":["Nat.
        Geosci."],"published-print":{"date-parts":[[2020,6]]},"DOI":"10.1038\/s41561-020-0585-2","type":"journal-article","created":{"date-parts":[[2020,6,1]],"date-time":"2020-06-01T16:03:55Z","timestamp":1591027435000},"page":"448-452","update-policy":"https:\/\/doi.org\/10.1007\/springer_crossmark_policy","source":"Crossref","is-referenced-by-count":79,"title":["Steady
        erosion rates in the Himalayas through late Cenozoic climatic changes"],"prefix":"10.1038","volume":"13","author":[{"ORCID":"https:\/\/orcid.org\/0000-0003-3358-7197","authenticated-orcid":false,"given":"Sebastien
        J. P.","family":"Lenard","sequence":"first","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"J\u00e9r\u00f4me","family":"Lav\u00e9","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"ORCID":"https:\/\/orcid.org\/0000-0002-4873-5546","authenticated-orcid":false,"given":"Christian","family":"France-Lanord","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Georges","family":"Auma\u00eetre","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Didier
        L.","family":"Bourl\u00e8s","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Karim","family":"Keddadouche","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]}],"member":"297","published-online":{"date-parts":[[2020,6,1]]},"reference":[{"key":"585_CR1","doi-asserted-by":"publisher","first-page":"14933","DOI":"10.1029\/JB093iB12p14933","volume":"93","author":"WW
        Hay","year":"1988","unstructured":"Hay, W. W., Sloan, J. L. & Wold, C. N.
        Mass\/age distribution and composition of sediments on the ocean floor and
        the global rate of sediment subduction. J. Geophys. Res. 93, 14933\u201314940
        (1988).","journal-title":"J. Geophys. Res."},{"key":"585_CR2","doi-asserted-by":"publisher","first-page":"29","DOI":"10.1038\/346029a0","volume":"346","author":"P
        Molnar","year":"1990","unstructured":"Molnar, P. & England, P. Late Cenozoic
        uplift of mountain ranges and global climate change: chicken or egg? Nature
        346, 29\u201334 (1990).","journal-title":"Nature"},{"key":"585_CR3","doi-asserted-by":"publisher","first-page":"891","DOI":"10.1038\/35069099","volume":"410","author":"PZ
        Zhang"[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.crossref.org/works?query=Guns+and+Vanacker+erosion&rows=1&filter=from-pub-date%3A2014%2Cuntil-pub-date%3A2014%2Cissn%3A2213-3054&mailto=sebastien.lenard%40gmail.com
  response:
    body:
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"facets":{},"total-results":6,"items":[{"indexed":{"date-parts":[[2026,4,9]],"date-time":"2026-04-09T06:04:44Z","timestamp":1775714684134,"version":"3.50.1"},"reference-count":46,"publisher":"Elsevier
        BV","license":[{"start":{"date-parts":[[2014,6,1]],"date-time":"2014-06-01T00:00:00Z","timestamp":1401580800000},"content-version":"tdm","delay-in-days":0,"URL":"https:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"funder":[{"DOI":"10.13039\/501100001866","name":"Fonds
        National de la Recherche Scientifique","doi-asserted-by":"publisher","id":[{"id":"10.13039\/501100001866","id-type":"DOI","asserted-by":"publisher"}]},{"name":"Prize
        for Tropical Geography Yola Verhasselt of the Royal Academy for Overseas Sciences"}],"content-domain":{"domain":["elsevier.com","sciencedirect.com"],"crossmark-restriction":true},"short-container-title":["Anthropocene"],"published-print":{"date-parts":[[2014,6]]},"DOI":"10.1016\/j.ancene.2014.08.001","type":"journal-article","created":{"date-parts":[[2014,8,10]],"date-time":"2014-08-10T11:01:41Z","timestamp":1407668501000},"page":"75-85","update-policy":"https:\/\/doi.org\/10.1016\/elsevier_cm_policy","source":"Crossref","is-referenced-by-count":62,"special_numbering":"C","title":["Shifts
        in landslide frequency\u2013area distribution after forest conversion in the
        tropical Andes"],"prefix":"10.1016","volume":"6","author":[{"given":"Marie","family":"Guns","sequence":"first","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]},{"given":"Veerle","family":"Vanacker","sequence":"additional","affiliation":[],"role":[{"role":"author","vocabulary":"crossref"}]}],"member":"78","reference":[{"key":"10.1016\/j.ancene.2014.08.001_bib0005","doi-asserted-by":"crossref","first-page":"263","DOI":"10.1016\/j.epsl.2013.01.030","article-title":"Giant
        non-catastrophic landslides and the long-term exhumation of the European Alps","volume":"365","author":"Agliardi","year":"2013","journal-title":"Earth
        Planet. Sci. Lett."},{"key":"10.1016\/j.ancene.2014.08.001_bib0010","doi-asserted-by":"crossref","first-page":"152","DOI":"10.1016\/j.catena.2005.11.006","article-title":"Landsliding
        related to land-cover change: a diachronic analysis of hillslope instability
        distribution in the Sierra Norte, Puebla, Mexico","volume":"65","author":"Alc\u00e1ntara-Ayala","year":"2006","journal-title":"Catena"},{"key":"10.1016\/j.ancene.2014.08.001_bib0015","doi-asserted-by":"crossref","DOI":"10.1016\/j.geomorph.2014.02.030","article-title":"First
        paleoseismic results for the Pallatanga fault (Central Ecuador), a major structure
        of the South-American crust","author":"Baize","year":"2014","journal-title":"Geomorphology"},{"key":"10.1016\/j.ancene.2014.08.001_bib0020","article-title":"Impacts
        of forest cover change on ecosystem services in high Andean mountains","author":"Balthazar","year":"2014","journal-title":"Ecol.
        Indicators"},{"key":"10.1016\/j.ancene.2014.08.001_bib0025","series-title":"Prevenci\u00f3n
        de desastres naturales en la Cuenca del Paute \u2013 Informe final: Proyecto
        Precupa.","author":"Basabe","year":"1998"},{"key":"10.1016\/j.ancene.2014.08.001_bib0030","doi-asserted-by":"crossref","first-page":"310","DOI":"10.1016\/j.epsl.2009.05.002","article-title":"Colluvial
        sediment dynamics in mountain drainage basins","volume":"284","author":"Brardinoni","year":"2009","journal-title":"Earth
        Planet. Sci. Lett."},{"key":"10.1016\/j.ancene.2014.[...]
